<h1>Payments</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Creator</th>
      <th>Balance changes</th>
    </tr>
  </thead>
  <tbody>
    <% @payments.each do |p| %>
      <tr>
        <td><%= p.title %></td>
        <td><%= p.creator.first_name %></td>
        <td>
          <ul>
            <% p.balance_changes.each do |bc| %>
              <li><%= bc.user.first_name %> : <%= bc.change %></li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New payment", new_payment_path %>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Balance</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |u| %>
      <tr>
        <td><%= u.first_name %></td>
        <td><%= u.balance %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>AngularJS</h1>

<div ng-controller="PaymentsCtrl">
  <h3>Users</h3>
  <ul>
    <li ng-repeat="user in users"><div user-data="user"></div></li>
  </ul>

  <h3>Payments</h3>
  <table>
    <thead>
      <th>Title</th>
      <th>Creator</th>
      <th>Balance changes</th>
    </thead>
    <tbody>
      <tr payment-data="payment" users="users" ng-repeat="payment in payments">
      </tr>
    </tbody>
  </table>

  <form ng-submit="addNewPayment()">
    <input ng-model="newPayment.title" placeholder="Title">
    <br>
    <select ng-model="newPayment.creator_id" ng-options="userID as user.name for (userID, user) in users">
    </select> Autor zamówienia
    <br>
    <h5>Balance changes</h5>
    <ul>
      <li ng-repeat="(userID, user) in users">
        {{ user.name }} <input ng-model="newPayment.balance_changes[userID]">
      </li>
    </ul>

    <input type="submit" ng-disabled="!newPayment.creator_id || !newPayment.title">
  </form>
</div>
